@import 'colours.scss';

html, body, #root, .App {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

@font-face {
    font-family: 'Bungee';
    src: url('./fonts/BungeeShade.ttf');
}

@font-face {
    font-family: 'Taco';
    src: url('./fonts/Taco.otf');
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('./fonts/RobotoSlab.ttf');
}

body {
    font-family: 'Taco';
    background-color: $darkBlue;
    color: $light;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    .text {
        display: flex;
        font-size: 8vw;
        overflow: hidden;
    }

    .highlight-text {
        font-family: 'Bungee';
        font-size: 10vw;
        padding: 1rem;
        color: $lightRed;
        // transform: translateY(-20px);
        text-shadow: 0px 0px 40px $strongRed;
        overflow: hidden;
    }
}

main {
    .content {

        img {
            -webkit-filter: drop-shadow( 4px 4px 8px rgba(0, 0, 0, .6));
            filter: drop-shadow( 4px 4px 8px rgba(0, 0, 0, .6));
        }
        position: relative;
        padding: 2rem;

        .info {
            font-size: 8vw;
            font-family: 'Taco';
            position: absolute;
            max-width: 60vw;
            z-index: 10;
            text-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
        }

        .part-1 {
            position: relative;

            .info {
                margin-top: 7vh;
            }

            img {
                margin-right: -10vw;
            }

            p {
               position: absolute;
               left: 0; 
            }
        }

        .part-2 {
            position: relative;

            img {
                margin-left: -15vw;
            }

            p {
                text-align: right;
                position: absolute;
                right: 0;
            }
        }

        .table-title {
            display: inline-block;
            font-family: 'Roboto Slab';
            font-size: 6vw;
            border-bottom: 2px solid $light;
            margin-top: 10vh;
        }

        table {
            width: 100%;
            font-family: 'Roboto Slab';
            font-size: 6vw;
            border-collapse: collapse;
            border-radius: 5px;
            border-style: hidden; /* hide standard table (collapsed) border */
            box-shadow: 0 0 0 1px $light; /* this draws the table border  */ 

            th {
                text-align: left;
                font-weight: normal;
            }

            table, td, th {
                border: 1px solid $light;
                padding: 1rem;
            }

            td {
                border: 1px solid $light;
            }
        }
    }
}